<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20210108033203.mdf;Initial Catalog=aspnet-WebApp-20210108033203;Integrated Security=True"
       providerName="System.Data.SqlClient" />

  <add name="ChinookDB"
       connectionString="Data Source=KOZMAK\SQLEXPRESS;Initial Catalog=Chinook2021;Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>